:root{
    --primario: #8a2be2;
    --primario_menor: #e2cdf5;
    --fondo: #fff;
    --texto: rgb(14, 1, 26);
    --padding_general: 3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    background: var(--fondo);
}

.desc{
    color: rgb(85, 85, 85);
}

.up_title{
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primario);
    margin-bottom: 0.5rem;
}

.title_big{
    font-size: 2rem;
    color: var(--texto);
    font-weight: bold;
    margin-bottom: 1rem;
}

.up_title_center{
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primario);
    margin-bottom: 0.5rem;
    text-align: center;
}

.title_big_center{
    font-size: 2rem;
    color: var(--texto);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}



.logo{
    width: 3rem;
}